Repository hmcts/pip-publication-services, pull requests merged in 2022-11, with the labels that each got.

#198 PUB-1597 Update Spring
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfigurationTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/RootController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/config/SwaggerConfigurationTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-198

#193 PUB-1551 Generate Excel spreadsheet for all MI data
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/pip-publication-services/Chart.yaml
  charts/pip-publication-services/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/ExcelCreationException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/SubscriptionManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/ExcelAbstractList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/ExcelGenerationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/ExcelGenerationServiceTest.java
  src/test/resources/application-test.yaml
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-193

#214 CVE-31690, CVE-31692 and CVE-42252 fixes and suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-214
