Repository hmcts/pip-publication-services, pull requests merged in 2022-07, with the labels that each got.

#103 added suppression for new log4j issue
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-103

#104 PUB-1397 Blank payload
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-104

#78 PUB-1254 Media User Emails
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/DuplicatedMediaEmail.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/WelcomeEmail.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-78

#107 PUB-1437 Send Headers to third party
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ArtefactType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Language.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Sensitivity.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-107

#112 Fixed integration tests
  charts/pip-publication-services/Chart.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-112

#109 PUB-1246 - Updated List Types
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-109

#111 Merge Develop to Master
  charts/pip-publication-services/Chart.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ArtefactType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Language.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Sensitivity.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-111

#115 changed font
  Dockerfile
  build.gradle
  lib/gdsFont.otf
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PdfCreationService.java
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-115

#106 PUB-1405 - Certificate
  build.gradle
  charts/pip-publication-services/Chart.yaml
  charts/pip-publication-services/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/client/EmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/client/WebClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/CsvCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PdfCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-106

#113 Pub 1308 pdf sjp press list
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/templatemodels/SjpPressList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PdfCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/CivilDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/Converter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/FamilyDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPressListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPublicListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/Helpers.java
  src/main/resources/templates/sjpPressList.html
  src/main/resources/templates/sjpPublicList.html
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/helpers/EmailResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PdfCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPressListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/HelpersTest.java
  src/test/resources/mocks/sjpPressMockJul22.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-113
