Repository hmcts/pip-publication-services, pull requests merged in 2022-08, with the labels that each got.

#116 PUB-1478 - Updated logs
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/helpers/EmailHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/helpers/EmailHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-116

#110 Pub 1310 Create summary text for emails
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/CivilDailyCauseList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/SjpPressList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/SjpPublicList.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ArtefactSummaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/resources/mocks/civilDailyCauseList.json
  src/test/resources/mocks/familyDailyCauseList.json
  src/test/resources/mocks/sjpPressList.json
  src/test/resources/mocks/sjpPublicList.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-110

#114 PUB-1309 Add SJP public list HTML conversion for PDF generation
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/templatemodels/SjpPublicList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PdfCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPublicListConverter.java
  src/main/resources/templates/sjpPublicList.html
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPublicListConverterTest.java
  src/test/resources/mocks/sjpPublicListMissingPostcode.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-114

#119 PUB-1306 Add Civil daily cause list HTML conversion for PDF generation
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/CivilAndFamilyDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/CivilDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/FamilyDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/DailyCauseListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/DateHelper.java
  src/main/resources/templates/civilDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/CivilDailyCauseListConverterTest.java
  src/test/resources/mocks/civilDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-119

#121 PUB-1361 - COP Converter
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/CopDailyCauseList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/CopDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPressListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/DateHelper.java
  src/main/resources/templates/copDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/CopDailyCauseListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/CopCauseListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/helpers/GeneralHelperTest.java
  src/test/resources/mocks/copDailyCauseList.json
  src/test/resources/mocks/copDailyCauseListMissingRegion.json
  src/test/resources/mocks/copDailyCauseListMissingRegionalJoh.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-121

#135 PUB-1507 - Added Content Type for JSON pubs
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-135

#137 PUB-1485 Send multi part request body for flat file to third party API
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/helpers/MultiPartHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/helpers/MultiPartHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-137

#140 PUB-1513 Send request header to third party API during deletion of publication
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/ThirdPartySubscriptionArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-140

#142 PUB-1525 - Updated sending for CSV
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-142

#144 Updated limit for files to 2MB
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfiguration.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-144

#136 PUB-1316 Media user verification email
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/PersonalisationLinks.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/MediaVerificationEmail.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-136
