Repository hmcts/pip-publication-services, pull requests merged in 2022-12, with the labels that each got.

#216 PUB-1533 - Updated PW reset defaults
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-216

#168 PUB-942 - Added sending of inactivity email
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/PersonalisationLinks.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/InactiveUserNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-168

#219 PUB-1626 Updated notify client and added new config
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-219

#227 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-227

#220 PUB-1637 Delete Court
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-220

#231 PUB-1678 Java 17 upgrade
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/configuration/WebClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-231

#232 Updated suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-232
