Repository hmcts/pip-publication-services, pull requests merged in 2022-09, with the labels that each got.

#158 Force upgrade snakeyaml version for CVE-2022-25857
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-158

#159 Get publication fix
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementService.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-159

#145 PUB-1455 - Updated links
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/PersonalisationLinks.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-145

#141 PUB-1213 to PUB-1217 Handling of inactive AAD admin and IDAM user account notification and deletion
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/PersonalisationLinks.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/InactiveUserNotificationEmail.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-141

#147 PUB-1526 Add SJP press register
  README.md
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-147

#146 PUB-1486 Updated defaults
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-146

#161 PUB-1542 Fix issue with SJP press PDF only showing only one case for multiple sittings
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/SjpPressList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/SjpPublicList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPressListConverter.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/pdf/converters/SjpPressListConverterTest.java
  src/test/resources/mocks/sjpPressMockJul22.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-161

#165 Update template ID
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-165

#164 Added new list types
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-164

#166 PUB-1554 SJP press excel and large file handling
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/templatemodels/SjpPressList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPressListConverter.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPressListConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-166

#167 PUB-1560 - PDF Streamlining
  Dockerfile
  lib/gdsFont.ttf
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/gdsFont.ttf
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-167
