Repository hmcts/pip-publication-services, pull requests merged in 2022-10, with the labels that each got.

#186 PUB-1550 Handle array of SJP public list cases
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/SjpPublicList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPublicListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/SjpManipulation.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPublicListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/SjpManipulationTest.java
  src/test/resources/mocks/sjpPublicList.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-186

#139 Pub 1500 welsh lang pdfs
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/CopDailyCauseList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/DailyCauseList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CivilAndFamilyDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CivilDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/Converter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CopDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/FamilyDailyCauseListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPressListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPublicListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SscsDailyListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DailyCauseListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/LocationHelper.java
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/copDailyCauseList.html
  src/main/resources/templates/familyCauseList.html
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/cy/civilDailyCauseList.json
  src/main/resources/templates/languages/cy/copDailyCauseList.json
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/cy/magistratesStandardList.json
  src/main/resources/templates/languages/cy/magsPublicList.json
  src/main/resources/templates/languages/cy/sjpPressList.json
  src/main/resources/templates/languages/cy/sjpPublicList.json
  src/main/resources/templates/languages/cy/sscsDailyList.json
  src/main/resources/templates/languages/en/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/en/civilDailyCauseList.json
  src/main/resources/templates/languages/en/copDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
  src/main/resources/templates/languages/en/magistratesStandardList.json
  src/main/resources/templates/languages/en/magsPublicList.json
  src/main/resources/templates/languages/en/sjpPressList.json
  src/main/resources/templates/languages/en/sjpPublicList.json
  src/main/resources/templates/languages/en/sscsDailyList.json
  src/main/resources/templates/sjpPressList.html
  src/main/resources/templates/sjpPublicList.html
  src/main/resources/templates/sscsDailyList.html
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CivilAndFamilyCauseListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CivilDailyCauseListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CopCauseListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/FamilyCauseListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPressListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPublicListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SscsDailyListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelperTest.java
  src/test/resources/sjpPressList-language.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-139

#189 Fix vuln
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-189

#187 PUB-1472 Add Primary Health tribunal PDF and artefact summary generation
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/templatemodels/PrimaryHealthList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/PrimaryHealthList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/SjpPublicList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/PrimaryHealthListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/SjpPublicListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DailyCauseListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/PrimaryHealthListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/SjpManipulation.java
  src/main/resources/templates/languages/cy/primaryHealthList.json
  src/main/resources/templates/languages/en/primaryHealthList.json
  src/main/resources/templates/primaryHealthList.html
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/PrimaryHealthListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/LocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/SjpManipulationTest.java
  src/test/resources/mocks/primaryHealthList.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-187

#188 PUB-1573 - welsh open justice
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/cy/civilDailyCauseList.json
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/cy/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-188

#191 PUB-1364 - IAC PDF Template + Summary
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/IacDailyList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/IacDailyListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/PartyRoleMapper.java
  src/main/resources/templates/iacDailyList.html
  src/main/resources/templates/languages/cy/iacDailyList.json
  src/main/resources/templates/languages/en/iacDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/IacDailyListTests.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/IacDailyListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/PartyRoleMapperTest.java
  src/test/resources/mocks/iacDailyList.json
  src/test/resources/mocks/partyManipulationJson.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-191

#194 PUB-1473 Care Standards List template Pdf
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/templatemodels/TribunalNationalList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/TribunalNationalLists.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CareStandardsListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/PrimaryHealthListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/TribunalNationalListsManipulation.java
  src/main/resources/templates/careStandardsList.html
  src/main/resources/templates/languages/cy/careStandardsList.json
  src/main/resources/templates/languages/en/careStandardsList.json
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/PrimaryHealthListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/TribunalNationalListsTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/CareStandardsListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/TribunalNationalListsManipulationTest.java
  src/test/resources/mocks/careStandardsList.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-194

#196 PUB-1362 ET Daily List PDF and artefact summary generation
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/CivilDailyCauseList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/EtDailyList.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/EtDailyListConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/EtDailyListManipulation.java
  src/main/resources/templates/etDailyList.html
  src/main/resources/templates/languages/cy/etDailyList.json
  src/main/resources/templates/languages/en/etDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/ArtefactSummaryServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/artefactsummary/EtDailyListTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/converters/EtDailyListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/GeneralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/PartyRoleMapperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/helpers/listmanipulation/EtDailyListManipulationTest.java
  src/test/resources/mocks/etDailyList.json
  src/test/resources/mocks/partyManipulation.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-196
