Repository hmcts/pip-publication-services, pull requests merged in 2022-06, with the labels that each got.

#66 Pub 645 - Subscription email
  build.gradle
  charts/pip-publication-services/Chart.yaml
  charts/pip-publication-services/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/EmailToSend.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Location.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/SubscriptionEmail.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/SubscriptionTypes.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/validation/SubscriptionsConstraint.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/validation/SubscriptionsConstraintValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/client/WebClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/client/WebClientCreationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/models/EmailToSendTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/validation/SubscriptionsConstraintValidatorTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-66

#68 PUB-1312 - Updated headers for sensitivity
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementService.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-68

#69 PUB 1269 send media applications report
  Jenkinsfile_CNP
  build.gradle
  charts/pip-publication-services/Chart.yaml
  charts/pip-publication-services/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/CsvCreationException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/MediaApplication.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/CsvCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/CustomExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/CsvCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-69

#74 PUB-1356 - Updated path to Data Management
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementService.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-74

#76 Pub-981 error handle third party
  Jenkinsfile_CNP
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/ServiceToServiceException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/ThirdPartyServiceException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/ThirdPartySubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/client/EmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/configuration/WebClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/configuration/WebClientCreationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/CustomExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-76

#81 Merge integration into master
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  README.md
  build.gradle
  charts/pip-publication-services/Chart.yaml
  charts/pip-publication-services/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/CsvCreationException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/ServiceToServiceException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/ThirdPartyServiceException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/MediaApplication.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/ThirdPartySubscription.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/CsvCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/client/EmailClientTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/configuration/WebClientConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/configuration/WebClientCreationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/CustomExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/CsvCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-81

#79 PUB-928 - Handle receipt of unidentified blob
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-79

#87 Added supressions
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-87

#92 Removed unneeded supressions + added tomcat
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/pip/publication/services/TestClass.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-92
