Repository hmcts/pip-publication-services, pull requests merged in 2023-08, with the labels that each got.

#341 Pub 2054 - Add SJP delta press list
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-341

#345 PUB-1974 Display list type friendly name in subscription email
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-345

#343 PUB-2084 - Updated App Insights to use connection string
  Dockerfile
  README.md
  charts/pip-publication-services/Chart.yaml
  charts/pip-publication-services/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-343

#354 PUB-2134 - Fix base 64 with third parties
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-354

#357 PUB-2124 - Updated to renovate
  .github/dependabot.yml
  .github/renovate.json
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-357
