Repository hmcts/pip-publication-services, pull requests merged in 2023-02, with the labels that each got.

#253 PUB-1769 MI report enhancement
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-253

#262 PUB-1783 - Automate updating with base branch
  .github/update-pr.yml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-262

#256 PUB-1811 - Updated terraform and azure rm version
  infrastructure/.terraform-version
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-publication-services-pr-256

#263 PUB-1811 - Removed unneeded variables
  infrastructure/variables.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-publication-services-pr-263

#265 PUB-1663 Clear Subscription
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/request/LocationSubscriptionDeletion.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/UserNotificationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/UserNotificationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-265

#269 PUB-1858 Updated noMatch blobs email
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/NoMatchArtefact.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-269

#271 Updated suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-271

#268 PUB-1808 Auth check
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ChannelManagementService.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-268
