Repository hmcts/pip-publication-services, pull requests merged in 2023-03, with the labels that each got.

#272 PUB-1898 Content date in subs email
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-272

#284 PUB-1910 - Update dependencies
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-284

#285 Updated test file
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-285

#287 PUB-1295 - Added case names to email
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/helpers/CaseNameHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/Artefact.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/CaseSearch.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/helpers/CaseNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-287

#286 PUB-1924 Fix tests with blob deletion in staging
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-286

#293 Upgrade springboot version for CVE-2023-28708
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-293

#291 PUB-1916 Update README file
  README.md
  publication-services-arch.png
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-291
