Repository hmcts/pip-publication-services, pull requests merged in 2023-01, with the labels that each got.

#234 Merge Freeze to Master
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/WebClientTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/configuration/WebClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-234

#244 Fixed dependencies
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-244

#242 PUB-1634 Added functional tests for 'Unauthorized' status code
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-242

#236 PUB-1751 Fix sonarCloud code smells
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/ThirdPartyServiceException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/helpers/MultiPartHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/validation/SubscriptionsConstraintValidator.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/helpers/EmailHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-236

#233 PUB-1747 Send PDF to Courtel for json publications
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-233

#248 Updated Helm version
  charts/pip-publication-services/Chart.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-248

#251 Update helm to 4.0.11
  charts/pip-publication-services/Chart.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-251

#254 Freeze
  charts/pip-publication-services/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/errorhandling/exceptions/ThirdPartyServiceException.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/helpers/MultiPartHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/validation/SubscriptionsConstraintValidator.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/helpers/EmailHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ChannelManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-254

#246 PUB-1768 Add SSCS daily list - additional hearings
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/external/ListType.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-246

#250 PUB-1734 Media reporting slow response time
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/models/MediaApplication.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-250

#255 Updated OWASP dependency version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-255
