Repository hmcts/pip-publication-services, pull requests merged in 2024-02, with the labels that each got.

#415 PUB-2293 - Dependency Updates
  .github/workflows/terraform_format.yml
  build.gradle
  charts/pip-publication-services/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, no-changes, rel:pip-publication-services-pr-415

#417 PUB-2305 Add unsubscribe link to subscription emails
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-417

#416 PUB-2300 Add security to Swagger API
  infrastructure/resources/swagger/api-swagger.json
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/B2cNotificationController.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationController.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-publication-services-pr-416

#419 PUB-2337 - Enable graceful shutdown
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-419
