Repository hmcts/pip-publication-services, pull requests merged in 2024-03, with the labels that each got.

#420 PUB-2121 Handle email personalisation for large publication payload
  README.md
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/PersonalisationServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-420

#422 PUB-2281 - Remove trailing slash parameter
  infrastructure/resources/operation-policies/sendOtpEmail.xml
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/config/WebConfiguration.java
Labels: ns:pip, prd:pip, add-or-update, rel:pip-publication-services-pr-422

#421 PUB -2334 Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-publication-services-pr-421

#424 PUB-2155: Updating email templates to mask embedded links with text
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/notify/Templates.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/notify/TemplatesTest.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-424
