Repository hmcts/pip-publication-services, pull requests merged in 2025-01, with the labels that each got.

#486 PUB-2712 Add CIC Daily Hearing List
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-486

#488 Added new functional tests to notify end points
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/NotificationEmailTests.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-488

#491 PUB-2582 Simplify unit tests
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/client/EmailClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyRateLimitTest.java
  src/integrationTest/resources/application-integration-rate-limit.yaml
  src/integrationTest/resources/application-integration.yaml
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/B2cNotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/RateLimitingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/SubscriptionManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/SubscriptionNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/ThirdPartyServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/UserNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/reporting/MediaApplicationReportingEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/reporting/MiDataReportingEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/reporting/SystemAdminUpdateEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/reporting/UnidentifiedBlobEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/subscription/FlatFileSubscriptionEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/subscription/LocationSubscriptionDeletionEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/subscription/RawDataSubscriptionEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/useraccount/AdminWelcomeEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/useraccount/InactiveUserNotificationEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/useraccount/MediaAccountRejectionEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/useraccount/MediaDuplicatedAccountEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/useraccount/MediaUserVerificationEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/useraccount/MediaWelcomeEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/emailgeneration/useraccount/OtpEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/filegeneration/ExcelGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/utils/RedisConfigurationTestBase.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/validation/SubscriptionsConstraintValidatorTest.java
  src/test/resources/application-test.yaml
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-491

#494 PUB-2567 - Added functional tests
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/BatchNotificationEmailTests.java
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/NotificationEmailTests.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-494

#485 PUB-2693 - Updated dependencies
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, stg/no-changes, prod/no-changes, rel:pip-publication-services-pr-485

#484 PUB-2706 - Non Strategic Publishing
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-484

#497 Added functional tests for sendSubscriptionEmail endpoint.
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/SubscriptionNotificationEmailTests.java
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/utils/FunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/utils/OAuthClient.java
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/utils/TestUtil.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/data/civilDailyCauseList.json
  src/functionalTest/resources/data/sjpPressList.json
  src/functionalTest/resources/data/testFlatFile.pdf
Labels: ns:pip, prd:pip

#499 PUB-2720 Update non strategic list names
  build.gradle
Labels: ns:pip, prd:pip

#498 PUB-2570 Add functional tests for internal reporting email endpoints
  Jenkinsfile_CNP
  charts/pip-publication-services/values.dev.template.yaml
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/ReportingNotificationEmailTests.java
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/utils/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationService.java
  src/test/java/uk/gov/hmcts/reform/pip/publication/services/service/FileCreationServiceTest.java
Labels: ns:pip, prd:pip, enable_keep_helm

#496 PUB-2702 Update dependencies
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/providers.tf
Labels: ns:pip, prd:pip, stg/no-changes, prod/no-changes

#495 PUB-2571 - Add functional tests
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/B2cNotificationEmailTests.java
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/NotificationEmailTests.java
  src/functionalTest/java/uk/gov/hmcts/pip/publication/services/utils/OAuthClient.java
Labels: ns:pip, prd:pip

#492 PUB-2585 Simplify integration tests
  Jenkinsfile_CNP
  README.md
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/client/EmailClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyRateLimitTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifySubscriptionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/controllers/NotifyThirdPartyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pip/publication/services/utils/IntegrationTestBase.java
  src/integrationTest/resources/emailResponse.json
  src/main/java/uk/gov/hmcts/reform/pip/publication/services/service/RateLimitingService.java
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-492

#500 PUB-2742 Update and Add UT IAC Lists
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-publication-services-pr-500
